


header {
  background: #10182F;
  padding: 0.5rem 0;
  margin-bottom: 5%;
}

.contain {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0rem 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(63, 54, 79);
  margin-left: 10px;
}

.logo img {
  width: 30%;
  object-fit: cover;
  margin-right: 8px;
}

.logo span {
  font-size: 1.7rem;
  color:white;
  font-style: italic;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0rem 0.4rem;
  align-items: center;
  padding: 0.5rem 0.5rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 2px;
  color: #fff;
}

















* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


.footer {
  margin-top: 10%;
  background: #10182F;
  width: 100%; /* Added to ensure the footer spans the entire width */
  text-align: center; /* Center the content horizontally */
  opacity: 0.7;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}
.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
.footer-col .links {
  margin-top: 20px;
}
.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}
.footer-col .links li a:hover {
  color: #fff;
}
.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}
.footer-col form {
  display: flex;
  gap: 5px;
}
.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}
.footer-col input::placeholder {
  color: #ccc;
}
 .footer-col form button {
  background: #0f0303;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}
.footer-col form button:hover {
  background: #cecccc;
}
.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}
.footer-col .icons i {
  color: #afb6c7;
}
.footer-col .icons i:hover  {
  color: #fff;
}
@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }
  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }
  .footer-col form {
    display: block;
  }
  .footer-col form :where(input, button) {
    width: 100%;
  }
  .footer-col form button {
    margin: 10px 0 0 0;
  }
}